In [1]:
import pandas as pd
pd.options.display.max_rows= 200

#data from: https://ec.europa.eu/eurostat/web/products-datasets/-/isoc_sks_itsps

In [2]:
df = pd.read_csv("data/ict_raw.csv")

In [3]:
df.head(50)

,TIME,GEO,UNIT,SEX,Value,Flag and Footnotes
0,2009,European Union - 28 countries (2013-2020),Thousand,Males,"4.910,0",s
1,2009,European Union - 28 countries (2013-2020),Thousand,Females,"1.400,4",s
2,2009,European Union - 28 countries (2013-2020),Percentage,Males,"77,8",s
3,2009,European Union - 28 countries (2013-2020),Percentage,Females,"22,2",s
4,2009,European Union - 27 countries (from 2020),Thousand,Males,"3.816,2",s
5,2009,European Union - 27 countries (from 2020),Thousand,Females,"1.071,0",s
6,2009,European Union - 27 countries (from 2020),Percentage,Males,"78,1",s
7,2009,European Union - 27 countries (from 2020),Percentage,Females,"21,9",s
8,2009,European Union - 15 countries (1995-2004),Thousand,Males,"4.050,2",s
9,2009,European Union - 15 countries (1995-2004),Thousand,Females,"1.012,9",s
10,2009,European Union - 15 countries (1995-2004),Percentage,Males,"80,0",s
11,2009,European Union - 15 countries (1995-2004),Percentage,Females,"20,0",s
12,2009,Euro area - 19 countries (from 2015),Thousand,Males,"2.800,3",s
13,2009,Euro area - 19 countries (from 2015),Thousand,Females,"669,8",s
14,2009,Euro area - 19 countries (from 2015),Percentage,Males,"80,7",s
15,2009,Euro area - 19 countries (from 2015),Percentage,Females,"19,3",s
16,2009,Belgium,Thousand,Males,"95,9",s
17,2009,Belgium,Thousand,Females,"18,0",s
18,2009,Belgium,Percentage,Males,"84,2",s
19,2009,Belgium,Percentage,Females,"15,8",s
20,2009,Bulgaria,Thousand,Males,"23,9",s
21,2009,Bulgaria,Thousand,Females,"14,8",s
22,2009,Bulgaria,Percentage,Males,"61,7",s
23,2009,Bulgaria,Percentage,Females,"38,3",s
24,2009,Czechia,Thousand,Males,"153,9",NaN
25,2009,Czechia,Thousand,Females,"47,8",NaN
26,2009,Czechia,Percentage,Males,"76,3",NaN
27,2009,Czechia,Percentage,Females,"23,7",NaN
28,2009,Denmark,Thousand,Males,"70,9",s
29,2009,Denmark,Thousand,Females,"17,6",s
30,2009,Denmark,Percentage,Males,"80,1",s
31,2009,Denmark,Percentage,Females,"19,9",s
32,2009,Germany (until 1990 former territory of the FRG),Thousand,Males,"759,0",s
33,2009,Germany (until 1990 former territory of the FRG),Thousand,Females,"141,5",s
34,2009,Germany (until 1990 former territory of the FRG),Percentage,Males,"84,3",s
35,2009,Germany (until 1990 former territory of the FRG),Percentage,Females,"15,7",s
36,2009,Estonia,Thousand,Males,"12,7",NaN
37,2009,Estonia,Thousand,Females,"8,7",NaN
38,2009,Estonia,Percentage,Males,"59,1",NaN
39,2009,Estonia,Percentage,Females,"40,9",NaN
40,2009,Ireland,Thousand,Males,"35,8",s
41,2009,Ireland,Thousand,Females,"12,5",s
42,2009,Ireland,Percentage,Males,"74,1",s
43,2009,Ireland,Percentage,Females,"25,9",s
44,2009,Greece,Thousand,Males,"40,5",bs
45,2009,Greece,Thousand,Females,"15,1",bs
46,2009,Greece,Percentage,Males,"72,8",bs
47,2009,Greece,Percentage,Females,"27,2",bs
48,2009,Spain,Thousand,Males,"332,8",s
49,2009,Spain,Thousand,Females,"95,8",s

In [4]:
df = df[df.UNIT == "Percentage"]
df = df[df.SEX == "Females"]

In [5]:
df.head()

,TIME,GEO,UNIT,SEX,Value,Flag and Footnotes
3,2009,European Union - 28 countries (2013-2020),Percentage,Females,"22,2",s
7,2009,European Union - 27 countries (from 2020),Percentage,Females,"21,9",s
11,2009,European Union - 15 countries (1995-2004),Percentage,Females,"20,0",s
15,2009,Euro area - 19 countries (from 2015),Percentage,Females,"19,3",s
19,2009,Belgium,Percentage,Females,"15,8",s

In [6]:
df.reset_index(drop=True)

,TIME,GEO,UNIT,SEX,Value,Flag and Footnotes
0,2009,European Union - 28 countries (2013-2020),Percentage,Females,"22,2",s
1,2009,European Union - 27 countries (from 2020),Percentage,Females,"21,9",s
2,2009,European Union - 15 countries (1995-2004),Percentage,Females,"20,0",s
3,2009,Euro area - 19 countries (from 2015),Percentage,Females,"19,3",s
4,2009,Belgium,Percentage,Females,"15,8",s
...,...,...,...,...,...,...
385,2018,Switzerland,Percentage,Females,"14,5",NaN
386,2018,Montenegro,Percentage,Females,:,u
387,2018,North Macedonia,Percentage,Females,"20,7",NaN
388,2018,Serbia,Percentage,Females,"19,1",NaN
389,2018,Turkey,Percentage,Females,"10,4",s

In [7]:
df.columns = map(str.lower, df.columns)

In [8]:
df = df.rename(columns={"value": "prct_f_employed_ICT"})

In [9]:
df = df.rename(columns={"geo": "location"})

In [10]:
df = df.drop(["flag and footnotes", "unit", "sex"],axis=1)

In [11]:
import pycountry

In [12]:
type(list(pycountry.countries))
#list(pycountry.countries)[0]

list

In [13]:
countries = {}

In [14]:
countries["Germany (until 1990 former territory of the FRG)"] = "DEU"

In [15]:
for country in list(pycountry.countries):
    countries[country.name] = country.alpha3

In [16]:
list(pycountry.countries)[-1].name

'Zimbabwe'

In [17]:
df = df.replace(countries)

df.reset_index(drop=True)
df.head(50)

     time                                   location prct_f_employed_ICT
3    2009  European Union - 28 countries (2013-2020)                22,2
7    2009  European Union - 27 countries (from 2020)                21,9
11   2009  European Union - 15 countries (1995-2004)                20,0
15   2009      Euro area - 19 countries  (from 2015)                19,3
19   2009                                        BEL                15,8
23   2009                                        BGR                38,3
27   2009                                    Czechia                23,7
31   2009                                        DNK                19,9
35   2009                                        DEU                15,7
39   2009                                        EST                40,9
43   2009                                        IRL                25,9
47   2009                                        GRC                27,2
51   2009                                        ESP                22,3
55   2009                                        FRA                19,8
59   2009                                        HRV                19,4
63   2009                                        ITA                16,7
67   2009                                        CYP                21,8
71   2009                                        LVA                32,1
75   2009                                        LTU                35,5
79   2009                                        LUX                13,7
83   2009                                        HUN                36,4
87   2009                                        MLT                24,3
91   2009                                        NLD                15,6
95   2009                                        AUT                19,3
99   2009                                        POL                31,4
103  2009                                        PRT                23,3
107  2009                                        ROU                34,0
111  2009                                        SVN                24,8
115  2009                                        SVK                33,8
119  2009                                        FIN                27,6
123  2009                                        SWE                21,0
127  2009                                        GBR                23,1
131  2009                                        ISL                25,9
135  2009                                        NOR                15,6
139  2009                                        CHE                18,0
143  2009                                        MNE                   :
147  2009                            North Macedonia                18,2
151  2009                                        SRB                   :
155  2009                                        TUR                21,2
159  2010  European Union - 28 countries (2013-2020)                21,7
163  2010  European Union - 27 countries (from 2020)                20,8
167  2010  European Union - 15 countries (1995-2004)                19,6
171  2010      Euro area - 19 countries  (from 2015)                18,2
175  2010                                        BEL                17,1
179  2010                                        BGR                34,8
183  2010                                    Czechia                21,8
187  2010                                        DNK                20,6
191  2010                                        DEU                15,2
195  2010                                        EST                40,1
199  2010                                        IRL                23,7

In [18]:
df["prct_f_employed_ICT"] = df["prct_f_employed_ICT"].str.replace(",",".")

In [19]:
import numpy as np
df["prct_f_employed_ICT"] = np.where(df["prct_f_employed_ICT"] == ":", np.nan, df["prct_f_employed_ICT"])

In [20]:
df['prct_f_employed_ICT'] = df['prct_f_employed_ICT'].astype(float)

In [22]:
df.to_pickle("data/ict_clean.pkl")

In [23]:
df.head()

    time                                   location  prct_f_employed_ICT
3   2009  European Union - 28 countries (2013-2020)                 22.2
7   2009  European Union - 27 countries (from 2020)                 21.9
11  2009  European Union - 15 countries (1995-2004)                 20.0
15  2009      Euro area - 19 countries  (from 2015)                 19.3
19  2009                                        BEL                 15.8